@use 'globals/variables' as *;
@use 'globals/mixins' as *;
@use 'globals/reset';
@use 'globals/typography';

            /// HEADER SECTION ///

header{

    // NAVBAR SECTION //
    .navbar-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 4rem;
        position: sticky;
        top: 0;
        background-color: rgb(100% 100% 100% / .7);
        backdrop-filter: blur(25px);
        z-index: 5;

        .logo{
            a{
                img{
                    width: 120px;
                }
            }
        }

        .nav-links{
            .links{
                color: $main-color;
                letter-spacing: -0.00675rem;
                margin-left: 2rem;

                &:hover{
                    color: $blue-color;
                }
            }

            .active{
                color: $blue-color;
                margin-left: 0;
            }
        }
        
        .dark-light-mode{
            #icon{
                width: 35px;
                cursor: pointer;
            }
        }
    }

    // HERO SECTION //
    .hero-section{
        height: 100vh;
        background-image: url("/assets/images/background-image.jpg");
        background-size: cover;
        position: relative;

        .my-text{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .my-title{
                color: #fff;
                font-size: 4.5rem;
                animation-name: flipInX;
                animation-duration: 2s;
                animation-fill-mode: both;

                @keyframes flipInX {
                    0% {
                      transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
                      opacity: 0;
                    }
                    40% {
                      transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
                    }
                    60% {
                      transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
                      opacity: 1;
                    }
                    80% {
                      transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
                    }
                    100% {
                      transform: perspective(400px);
                    }
                }
            }

            div{
                .typewrite {
                    color: #fff;
                    background-color: #0e77a892;
                    border-radius: 10px;
                    text-decoration: none;
                    font-size: 1.563rem;
                    font-weight: 600;
                    display: table;
                    margin: auto;
                    padding: 0.438rem;
                    letter-spacing: 0;
                }
            }
        }

        .skills-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 75%;
            // height: 100vh;
            margin: auto;
            transform: translateY(460px);

            .skill-icon {
              margin: auto;
              width: 40px;
              opacity: 0.7;
            }
        }
          
    }
}

            /// MAIN SECTION ///

main{
    padding: 0 4rem;

    // FIRST SECTION //
    .first-section{
        margin-bottom: 2rem;

        .about-me{
            font-weight: 700;
            font-size: 2.5rem;
            color: $blue-color;
            text-align: center;
            margin: 2rem 0;
        }

        .container-first-section{
            display: flex;
            align-items: center;
            gap: 0 25px;

            .about-img{
                flex-basis: 50%;

                img{
                    width: 100%;
                    object-fit: cover;
                }
            }

            .about-text{
                flex-basis: 50%;

                .text{
                    color: $main-color;
                    font-weight: 500;
                    margin-bottom: .8rem;
                    line-height: 1.6;
                    letter-spacing: 0.02em;
                    // display: -webkit-box;
                    // -webkit-line-clamp: 3;
                    // -webkit-box-orient: vertical;
                    // overflow: hidden;
                }

                .text-1{
                    margin-bottom: 1.7rem;
                }

                .cta{
                    position: relative;
                    padding: 0.75rem 1.125rem;
                    transition: all 0.3s ease;
                    border: none;
                    background: none;
                  
                    &:before{
                      content: "";
                      position: absolute;
                      top: 0;
                      left: 0;
                      display: block;
                      border-radius: 50px;
                      background: #b1dae7;
                      width: 45px;
                      height: 45px;
                      transition: all 0.3s ease;
                    }
                  
                    span{
                      position: relative;
                      font-weight: 700;
                      letter-spacing: 0.05em;
                      color: $blue-color;
                    }
                  
                    svg{
                      position: relative;
                      top: 0;
                      margin-left: 10px;
                      fill: none;
                      stroke-linecap: round;
                      stroke-linejoin: round;
                      stroke: $blue-color;
                      stroke-width: 2;
                      transform: translateX(-5px);
                      transition: all 0.3s ease;
                    }
                  
                    &:hover{
                      &:before{
                        width: 100%;
                        background: #b1dae7;
                      }
                  
                      svg{
                        transform: translateX(0);
                      }
                    }
                  
                    &:active{
                      transform: scale(0.95);
                    }
                }
                  
                .hashtag{
                    font-size: 0.8rem;
                    color: $blue-color;
                    font-weight: bold;
                    letter-spacing: 0.5px;
                    margin-top: 1.8rem;
                }
            }
        }
    }
}